.button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  border-radius: 1.5rem;
  background: #3275ef;
  border: none;
  outline: none;
  cursor:pointer;
}