.items_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color:transparent;
  border:none;
  outline: none;
  gap:1.5rem;


  &:hover{
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    transition: 0.5s;
  }


    img{
      width:4rem;
      object-fit:contain;
      vertical-align: middle;
    }

    span{
      font-family: "Young Serif", serif;
      font-size: 1rem;
      font-weight: bold;
      align-self: center;
    }



}