.items_container {
  max-width: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color:transparent;
  border:none;
  outline: none;
  gap:1rem;


  &:hover{
    background-color: #bebebe;
    border-radius: 0.8rem;
    transition: 0.5s;
  }


    img{
      width:3rem;
      object-fit:cover;
    }

    span{
      font-family: "Young Serif", serif;
      font-size: 1rem;
      font-weight: bold;
      align-self: center;
    }



}